
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}




.header>.box > span{
    color: inherit;
    font-size: 20px;
}

.text{
    font-weight: 500;
    color: #464646;
    font-size: 18px;
}

.one{
    border-bottom: 3px solid gray;
}

.two{
    border-bottom: 3px solid #E3350D;
}
.three{
    border-bottom: 3px solid #ee6b2f;
}
.four{
    border-bottom: 3px solid #e6bc2f;
}
.five{
    border-bottom: 3px solid #4dad5b;
}
.six{
    border-bottom: 3px solid #30a7d7;
}
.seven{
    border-bottom: 3px solid #1b53ba;
}

.one:hover{
    background: gray;
    color : #fff
}

.two:hover{
    background: #E3350D;
    color : #fff
}

.three:hover{
    background: #ee6b2f;
    color : #fff
}


.four:hover{
    background: #e6bc2f;
    color : #fff
}


.five:hover{
    background: #4dad5b;
    color : #fff
}


.six:hover{
    background: #30a7d7;
    color : #fff
}


.seven:hover{
    background: #1b53ba;
    color : #fff
}

.box{
    text-align: center;
    /* display: inline-block; */
    padding: 15px;
    align-items: center;
    color: grey;
    margin-left: -4px;
}

.box:hover{
    cursor: pointer;
}

.header{
    width: 100%;
    text-align: center;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.header-top {
    background-color: #f5f5f5;
    height: 62px;
    border-bottom : 2px solid #dedede;

}

.header-top > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -7px;
    /* padding: 6px 0px 8px 10px;
    margin: -7px 0 3px 6px; */
    vertical-align: middle;
}

.first-item{
    background-color : #fff;
    box-shadow : 0 0 7px 1px #666666;
    border-left: 0;
    border-right: 0;
    height: 55px;
}

.header-top > ul > li {
    text-decoration: none;
    list-style: none;
    padding: 6px 0px 8px 10px;
    margin: -7px 0 3px 6px;
    vertical-align: middle;
}

li:hover {
    cursor: pointer;
}

li > img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.banner-section {
    width: 100%;
    background: #fff url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
    height: auto;
}

.banner{
    width: 950px;
    /* height: 700px; */
    margin: 0 auto;
    background-color: #fff;
}

.banner-down {
    background-color: rgb(43, 43, 43);
    color: #fff;
    width: 855px;
    padding: 10px;
    margin: -4px auto;
    border-radius: 0 0 5px 5px;
    margin-left: 40px;
}

.banner > img {
    padding: 20px 5px 0 5px;
    margin: 0 auto;
    padding-left: 40px;
}

img:hover{
    animation: animate__pulse;
    cursor: pointer !important;
}


.cards {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.card {
    width: 270px;
    height: auto;
    background-color: #464646;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* gap: 0; */
    margin: 10px;
    cursor: pointer;
}

.card > div> img {
    width: 270px;
    height: 170px;
    border-radius: 5px;
    margin-bottom: -4px;
    /* z-index : -1; */
}

.card-content-one {
    background-color: #b89355;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-family: Flexo-Medium",arial,sans-serif;
}

.card-content-two {
    background-color: #855ac9;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-family: Flexo-Medium",arial,sans-serif;
}

.card-content-three {
    background-color: #1b53ba;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-family: Flexo-Medium",arial,sans-serif;
}


.side-btn{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    top: 50%;
    left: 0;
    border: 3px solid black;
    border-radius: 0 35px 0 0;
}

.login{
    background-color: #4dad5b;
    height: 70px;
    width: 35px;
    color: #fff;
    padding: 15px;
    border-radius: 0 32px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
}

.profile {
    border-radius: 50%;
    background-color: #666666;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.search {
    background-color: #666666;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fa-magnifying-glass {
    margin: auto;
}

.footer {
    background-color: #1f1f1f;
    color: #fff;
    margin-bottom: 0px;
}

.footer-top{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.email-form{
    display: flex;
    width: 68%;
}

#blocked-input{
    width: 30%;
}

input{
    height: 30px;
    border-radius: 5px;
}

#checked-inputs > label{
    margin: auto 0;
}

.submit-footer{
    background-color: #666666;
    color: #fff;
    margin: 10px;
    padding: 20px 45px;
    border-radius: 8px;
}

.footer-items > li > a{
    text-decoration: none;
    color: #fff;
}

.footer-items > li {
    list-style: none;

}

.footer-bottom-items{
    padding: 20px;
    border-right: 1px solid #000;
    width: 25%;
}

.character-slider{
    width: 100%;
    display: flex;
    background-color: #000;
    justify-content: space-between;
}

.character-slides{
    width: auto;
    height: 350px;
    background-color: #464646;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 3px solid black ;
}

.slide-text{
    background-color: #1f1f1f;
    height: 150px;
    color: #fff;
    text-align: center;
    align-items: center;
}

.slide-text > h3{
    padding: 20px;
}

.slide-image > img{
    object-fit: contain;
    width: 250px;
    height: 250px;
    margin: auto;
}

.slide-image-middle{
    flex-grow : 2
}