nav {
    background-color: black;
    color: #fff;
    height: 100px;
    align-items: center;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    /* margin: 30px; */
}

ul > li > a {
    color: #fff !important;
    font-size: 1.3rem !important;
    margin: 0 10px !important;
    font-weight: 800 !important;
}

/* nav form {
    margin: 0 100px;
} */

nav img{
    margin: 10px 280px;
    height: 70px;
    width: 70px;
    margin-left: 300px !important;
    margin-right: 320px !important;
}

nav ul{
    margin: 0;
    padding: 0;
}


form > h3{
    font-size: 1.4rem;
    margin: 0 20px;
    font-weight: 600;
    margin-top: 25px;
}

i {
    display: none !important;
}

form > input{
    margin-top: 25px;
    height: 40px;
    background-color: #000 !important;
    color: #fff !important;
}

textarea{
    background-color: #fff;
    color: #fff !important;
}


.hero{
    box-sizing: border-box;
    width: 100%;
    height: 90vh !important;
}

.hero-img > img {
    object-fit: cover;
    width: 100% !important;
    height: 830px;
}


.image-cover{
    background-color: #000;
    filter: opacity(70%);
}

.hero-content{
    color: #fff;
    position: absolute;
    top: 240px;
    bottom: 100px;
    left: 19px;
}

.hero-content h1 {
    font-size: 80px;
    font-weight: 700;
}

.hero-content p {
    width: 50%;
    font-weight: 600;
    font-size: 1.3rem;
}

.hero-content button{
    color: #fff;
    background-color: red;
    padding: 13px 30px;
    border: none !important;
    border-radius: 6px;
    font-size: 1.3rem;
    font-weight: 700;
}

.hero-bottom {
    color: #fff;
    position: absolute;
    top: 800px;
    bottom: 50px;
    left: 19px;
    width: 100%;
}

.hero-bottom p{
    font-weight: 800;
    font-size: 15px;
}

.hero-bottom-item {
    padding-top: 30px;
    border-top: 1px solid gray !important;
}

.hero-bottom-images > img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 0 2 0px;
    margin-top: 30px;
}

.news-container{
    margin-bottom: 100px;
    height: 450px;

}

.news {
    margin-top: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    align-items: center;
}

.news h3{
    font-weight: 700;
}

.news h1{
    font-weight: 700;
    font-size: 3.6rem;
}

.news-banner{
    height: 450px !important;
}


.news-banner h3{
    color: #fff;
    font-size: 20px;
    position: relative;
    top: -490px;
    left: 20px;
}

.news-banner p{
    color: #fff;
    /* font-size: 20px; */
    position: relative;
    top: -170px;
    left: 20px;
}

.news-banner h1{
    color: #fff;
    font-size: 1.5rem;
    position: relative;
    top: -180px;
    left: 20px;
}


.news-left{
    /* background-color: #000; */
    /* width: 100%; */
    height: auto;
    /* margin: 10px; */
    overflow: hidden;
}

.news-left>img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    opacity: 0.7;
}

.news-center{
    /* background-color: aquamarine; */
    /* width: 100%; */
    height: auto;
    /* margin: 10px; */
    overflow: hidden;
    opacity: 0.7;
}

.news-center>img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.news-right{
    /* background-color: blueviolet; */
    /* width: 100%; */
    /* width: 300px; */
    height: auto;
    /* margin: 10px; */
    overflow: hidden;
    opacity: 0.7;
}

.news-right img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
}

.news-right h3{
    position: relative;
    top: -200px;
    left: 10px;
    font-size: 1.1rem;
}
.news-right p{
    position: relative;
    top: -190px;
    left: 10px;
    font-size: 1.1rem;
}
.news-right h1{
    position: relative;
    top: -190px;
    left: 10px;
    font-size: 1.1rem;
}

.right-one{
   /* background-color: antiquewhite; */
    margin-bottom: 10px 
}

.right-two{
    /* background-color: #fff;
    margin: 10px; */
}

.news-images{
    display: flex;
    margin-top: 400px;
}

.news-image > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.news-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.news-content h4{
    /* color: #fff; */
    font-size: 1.2rem;
    margin: 0;
    text-overflow: clip;
}

.news-content p{
    /* color: #fff; */
    font-size: 1.2rem;
    margin: 0;
    text-overflow: clip;
}

.image-banner{
    margin-top: 50px;
    width: 100%;
    height: 980px;
}

.image-banner > img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: opacity(80%);
}

.image-banner h1{
    position: relative;
    top: -680px;
    left: 30px;
    font-size: 86px;
    color: #fff;
    font-weight: 800;
    /* margin-bottom: 20px; */
}

.image-banner p{
    position: relative;
    top: -600px;
    left: 30px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    width: 40%;
}

.image-banner h3{
    position: relative;
    top: -590px;
    left: 30px;
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    width: 40%;
}

.image-section{
    margin: 0 auto;
    margin-top: 40px;
}

.image-side{
    height: 500px;
    width: auto;
}

.image-side img{
    height: 100%;
    width: 100%;
}

.content-side{
    width: 40%;
}

.content-side p {
    font-size: 17px;
    width: 80%;
}

.explore{
    margin-top: 50px;
}

.explore p {
    font-size: 20px;
}

.explore h1{
    margin: 30px 0;
}

.explore h2{
    position: relative;
    top: -80px;
    left: 15px;
    color: #fff;
}

.explore-img{
    width: auto !important;
    height: 550px;
}

.explore-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.footer{
    height: 510px;
    background-color: #000;
    padding: 0 20px;
    margin-top: 30px;
    color: #fff;
}

.footer-logo img{
    width: 70px;
    height: 70px;
    margin: 40px;
}

.row-hr{
    background-color: #eee;
    margin: 30px 10px;
}



.about p{
    font-size: 15px;
    color: grey;
}

.about{
    width: 30%;
    /* display: flex; */
    flex-direction: column;
}

.about-links {
    /* width: 39%; */
    margin: 0 30px;
}

.about-links > li {
    text-decoration: none;
    list-style: none;
    margin: 10px 0;
}

.social > p{
    color: grey;

}

.social {
    margin-left: 55px;
}



.links{
    display: flex;
    justify-content: space-around;
}

.links li{
    text-decoration: none;
    list-style: none;
}


@media screen and (max-width: 1170px) {


    form > h3 {
        display: none !important;
    }

    nav {
        display: flex;
        flex-direction: row-reverse;
    }

    form input{
        display: none !important;
    }

    .hero-image{
        width: 100%;
    }

    i{
        display: inline-block !important;
        margin: 35px 4px !important;
    }
    
    nav > button{
        display: inline-block !important;
        color: #fff;
    }

    .hero-content h1 {
        font-size: 2.2rem;
        font-weight: 700;
    }

    .hero-bottom-images {
        position: absolute;
        top: -490px;
    }

    .hero-content p{
        width: 100%;
    }

    .hero-bottom{
        top: 600px;
        gap: 0;
        /* height: 10px; */
        display: flex;
        gap: 0;
    }

    .hero-bottom-item{
        /* height: 10px; */
        padding: 10px !important;
        margin-bottom: -20px !important;
  
    }

    .hero-bottom-item p{
        font-weight: 800;
        font-size: 1.2rem;

    }

    .hero-bottom-item h4 {
        margin-bottom: 0;
    }

    .news-right{
        width: auto !important;
        height: auto;
        margin: 10px;
    }

    .news-center, .news-left{
        width: auto !important;
        height: auto;
        margin: 10px;
    }

    .news-banner{
        height: 250px !important;
    }
    
    .news-images{
        flex-direction: column;
    }

}


@media screen and (max-width: 660px) {
    form > h3 {
        display: none !important;
    }
    nav {
        width: auto;
    }

    nav {
        display: flex;
        flex-direction: row-reverse;
    }

    .hero-image{
        width: 100%;
    }

    .hero-content h1 {
        font-size: 2.2rem;
        font-weight: 700;
    }
    
    
    .hero-content p{
        width: 100%;
    }

    .news-right{
        width: auto !important;
        height: auto;
        margin: 10px;
    }

    .news-center, .news-left{
        width: auto !important;
        height: auto;
        margin: 10px;
    }

    .news-banner{
        height: 250px !important;
    }
    

}