@font-face {
    font-family: "Futurak";
    src: url(fonts/futurak.ttf);
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}

h2{
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}

h3{
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}

body{
    margin: 0;
}

.header {
    background-color: black;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* height: 100px; */
}

.logo > img {
    width: 150px;
    /* margin-left: 10px; */
    padding-left: 50px;

}


.menu > ul {
    display: inline-block;
}


.menu > ul > li {
    display: inline-block;
    color: #fff;
    list-style: none;
    margin-right: 20px 0;
    padding: 0 10px;
    font-size: 22px;
}

.logo{
    display: inline-block !important;
}


.right-side{
    display: flex;
    width: 60%;
    vertical-align: bottom;
    text-align: right;
}

.logo{
    width: 30%;
}

.btns{
    display: inline-block !important;
    /* margin-left: 35px; */
    /* padding: 10px; */
}

.btns > button{
    border: none;
    padding: 15px 20px;
    border-radius: 35px;
}


.btn-1{
    background-color: transparent !important;
    color: #fff;
    border: 1px solid #fff !important;
}

.btn-2{
    background-color: #ed1c24;
    color: #fff;
    border: 1px solid #ed1c24;
    margin: 2px;
}

.btn-2 > i{
    background-color: #fff;
    color: #ed1c24;
    padding: 10px;
    border-radius: 50px;
}

.btn-2 {
    padding: 10px 10px;
}

.slide {
    width: 100%;
    height: 500px;
}

.slide > img {
    width: 100%;
    height: 100%;
}

.intro{
    width: 100%;
    height: 500px;
    padding-top: 20px;
    background-color: #000;
    color : #fff;
}

.intro > h2 {
    margin: 0;
    color: #fff;
}

.content{
    width: 100%;
    text-align: center;
}

.content > h2{
    font-size: 40px;
}

.content > h2 > span {
    font-family: "Futurak";
    font-size: 50px;
    letter-spacing: 2px;
}

.content > p{
    color: rgba(255, 255, 255, 0.7);
}

.card-logo{
    text-align: center;
    width: 280px;
    background-color: #fff;
    border-radius: 3px;
    padding: 30px 10px;
}

.card-logo > img{
    width: 70%;
}

.card-button{
  width: 280px;
  text-align: center;
  margin-top: 10px;
}

.card-button > button{
   padding: 15px 50px;
   border-radius: 35px;
   background-color: transparent;
   color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.card-container{
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.cards{
    display: inline-block;
    margin: 10px;

}

.franchies{
    background: black;
    width: 100%;
}

.main-franchise{
    background-color: rgba(255, 255, 255, 0.06) !important;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

h2{
    margin-top: 0;
}


.franchise-heading>span{
    font-size: 60px;
    font-family: "futurak";
    /* margin: 0 auto; */
    padding: 10px;
}

.franchise-heading{
    font-size: 60px;
    margin: 0;

}

.main-franchise>p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
}

.location{
    color: red;
    letter-spacing: 4px;
}

.left-side>h1>span{
    font-family: "futurak";
    font-size: 35px;
}

.left-side{
    display: inline-block;
    text-align: left;
    margin: 20px;
    width: 40%;
    margin: 20px;
    padding: 20px;
}

.right-side-banner{
    display: inline-block;
    width: 40%;
    margin: 20px;
    padding: 20px;
}


.banner-btn{
    padding: 15px 50px;
   border-radius: 35px;
   background-color: transparent;
   color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.banner-btn > i {
    background-color: #fff;
    color: #ed1c24;
    padding: 10px;
    border-radius: 45px;
}


.express-franchises{
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 20px;
    margin-top: -30px;
}

.express-franchises > h2{
    padding-bottom: 25px;
}

.express-franchises>h1>span{
    font-family: 'futurak';
    font-size: 60px;
    margin-top: 0;
}

.express-franchises>h2>span{
    font-size: 50px;
}

.opening-card{
    width: 320px;
    height: 340px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 3px;
}

.location-logo{
    background-color: gainsboro;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin: 20px auto;
    column-span: 1;
}

.location-logo>i{
    margin-top: 30px;
}

.opening-card>p{
    font-size: 10px;
    color: red;
    letter-spacing: 5px;
}

.opening-card>h2{
    color: black;
    margin: 0;
}

.opening-card>h3{
    color: #000;
    font-size: 20px;
    font-weight: 200;
}

.opening-card>h2>span{
    color: #000;
    font-size: 25px;
    font-weight: 100;
}

.opening-card{
    display: inline-block;
    margin: 10px;
    height: 250px;
    width: 350px;
}

.opening-soon{
    display: inline-block;
    width: 100%;
    /* padding-top: 0; */
}

.social-feed{
    width: 100%;
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 30px;
    margin-top: 0px;
    padding-top: 40px;
}

.feed-images {
    display : inline-block;
    width: 100%;
    margin-top: 40px;
}

.feed-image {
    display: inline-block;
    padding: 10px;
}

.feed-image > img {
    width: 225px;
    height: 225px;
    /* margin: 10px; */
}

.footer{
    width: 100%;
    /* display: flex; */
    /* height: 500px; */
    background-color: rgb(31, 29, 29) !important;
    color: #fff;
}

.footer-top {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.content-one{
    width: 30%;
}

.content-two {
    width: 25%;
}

.content-three{
    width: 20%;
    margin-left: 12px;
}

.content-four {
    width: 25%;
}


.content-one > a{
    text-decoration: none;
    color: #fff ;
    padding-left: 12px;
}

.content-two > ul > li > a {
    color: #fff;
    text-decoration: none;
}

.content-two > ul {
    list-style: none;
}



.content-three > ul > li{
    color: #fff;
    text-decoration: none;
    padding: 5px;
    /* margin: 10px; */
}

.content-three> ul {
    list-style: none;
}


.icon {
    background-color: #ed1c24;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

.icon > i {
    padding-top: 15px;
    color: #fff;
    text-align: center;
}

.footer-down{
    height: 35px;
}